* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: $theme-font;
  font-size: 14px;
  font-weight: normal;
}

body, #app {
  width: 100vw;
  height: 100vh;
  background-color: $main-color;
  overflow: hidden;
}
.button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 14px 0px 28px 0px;
}