.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 24px 24px;
}

.main__title {
  margin-bottom: 14px;
  font-size: 28px;
  color: white;
}

.main .isHome {
  width: 70%;
}
